<% provide(:title, @musician.firstname + " " + @musician.lastname) %>
<!-- Page Content -->
<div class="container-fluid nav-buffer">
  <a href="/bands" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    Browse all bands
  </a>
  <div class="jumbotron hero-spacer text-center">
    <h1><%= @musician.firstname + " " + @musician.lastname %></h1>
    <h3>Primary Instrument: <%= @musician.instrument %></h3>
    <% if !@musician.instrument2.nil? %>
      <h3>Secondary Instrument: <%= @musician.instrument2 %></h3>
    <% end %>
    <% if logged_in? && current_user.user_type=='m' && current_user.musician.id == @musician.id %>
      <p>
        <%= link_to edit_musician_path(@musician), html_options={class: "btn btn-primary"} do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit Musician Profile
        <% end %>
        <%= link_to user_path(current_user), html_options={class: "btn btn-info"} do %>
          <span class="glyphicon glyphicon-user"></span>
          User Account Page
        <% end %>
      </p>
      <%= link_to new_band_path, html_options={class: "btn btn-success"} do %>
        <span class="glyphicon glyphicon-plus"></span>
        Create New Band
      <% end %>
    <% end %>
  </div>
  <hr>
  <!-- Description, song demos, and image -->
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-12">
        <h2 class="page-header">Musician Info</h2>
      </div>
      <div class="col col-md-6 text-center">
        <div class="row">
          <div class="col col-md-12">
            <h3 class="page-header">Bio</h3>
          </div>
          <div class="col col-md-12">
            <%= @musician.bio %>
          </div>
        </div>
      </div>
      <div class="col col-md-6 top-margin-10">
        <% if @musician.image != nil %>
          <!-- UPDATE THIS! -->
        <% else %>
          <img class="img-responsive img-rounded" src="http://lorempixel.com/800/400/" alt="">
        <% end %>
      </div>
    </div>  <!-- /.row -->
  </div>
  <%= render '/musicians/bandlist', musician: @musician %>
</div>
