<% provide(:title, @user.firstname + " home") %>
<!-- Page Content -->
<div class="container-fluid nav-buffer">
  <a href="/bands" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    Browse all bands
  </a>
  <!-- Jumbotron Header -->
  <div class="jumbotron hero-spacer text-center">
    <h1>Welcome <%= @user.firstname %>!</h1>
    <h3>Member since: <%= @user.created_at.to_s.split[0] %></h3>
    <p>
      <%= link_to 'User Account Settings', edit_user_path(@user), class: "btn btn-info" %>
    </p>
  </div>
  <hr>

  <% if @user.user_type == 'm' %>
    <h3 class="page-header">Musician Account Actions</h3>
    <ul>
      <li><h3><%= link_to 'View Musician Profile', musician_path(@user.musician) %></h3></li>
      <li><h3><%= link_to 'Create New Band', new_band_path %></h3></li>
    </ul>

    <%= render 'musicians/bandlist', musician: current_user.musician %>
  <% end %>

</div>
