<% provide(:title, "View Bands") %>
<div class="container-fluid nav-buffer">
  <div class="row text-center">
    <div class="col-lg-12 text-center sr-contact">
      <h2 class="section-heading">Browse All Bands</h2>
      <small>Press band names to view full profiles and contact info.</small>
      <hr class="primary">
    </div>
  </div>
  <div class="row">
    <% @bands.each do |band| %>
    <div class="col col-md-6 col-xs-12">
      <div class="band-tile sr-button">
        <div class="row text-center">
          <div class="col col-md-12">
            <h2>
              <a href="<%= band_path(band.id) %>"><%= band.name %></a>
            </h2>
          </div>
        </div>
        <div class="row padded-10">
          <div class="col col-md-6 col-sm-12 centered-col">
          
              <% if band.image? %>
              <%= image_tag band.image, class: "img-responsive img-rounded band-pic-sm" %>
            <% else %>
              <img class="img-responsive img-rounded band-pic-sm" src="http://lorempixel.com/400/200/" alt="">
              <% end %>

          </div>
          <div class="col col-md-6 col-sm-12">
            <div class="row">
              <div class="col col-md-12 centered-col">
                <h4 class="band-tile-heading">Audio Samples</h4>
                <% if band.songdemo1? %>
                <div class="band-tile-subheading"><%= band.songdemo1_title.blank? ? 'Untitled':band.songdemo1_title %>
                </div>
                <audio controls>
                  <source src="<%= band.songdemo1 %>" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              <% else %>
                Sorry, no samples are available for this artist!
                <% end %>
              </div>
              <div class="col col-md-12 centered-col">
                <% if band.songdemo2? %>
                <div class="band-tile-subheading"><%= band.songdemo2_title.blank? ? 'Untitled':band.songdemo2_title %>
                </div>
                <audio controls>
                  <source src="<%= band.songdemo2 %>" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <% end %>
              </div>
            </div>

          </div>
        </div>
        <!--end row-->
        <h4 class="band-tile-heading">Band Description</h4>
        <div class="row text-center">
          <div class="col col-md-12">
            <div class="band-tile-content"><%= limitTextLen(band.description, 255) %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- /.row -->
</div>
<!-- container-fluid -->
